		<h2 class="timeLine">File hashes</h2>
		<br/><br/>
		<span style="color:red;font-size:1.5em">WARNING</span>: 
		<div style="font-weight:bold;font-size:1.5em;display:inline;">UNABLE to load or process the file hashes.txt</div>
		<p/><br/><br/>
		This means that something is wrong with this installation of Seecret and the contents may have been compromised.  <span style="font-weight:bold">Do not use this app.</span><p/><br/>
		<p/>
		Read more at <a href="https://www.seecret.net" target="_new">https://www.seecret.net</a> to learn about Seecret mirror sites and how to validate them.