				<div id="publicKeyManager" class="container">
				{{receiver_name}} has not yet connected with you over Seecret.  Once they install Seecret you can both send secure encrypted direct messages.<br/>  
				You sent {{receiver_name}} an invite on {{invite_date}} <span style="font-style:italic">from this device</span>.  You can resend the invite if you like.  <span id="sendPublicKeyButtonContainer"><input type=button id="sendPublicKeyButton" value="Send it" onClick="app.initiateDirectMessages({{receiver_id}},true)"/></span>
				</div>
