		<span style="color:red;font-weight:bold">NOT READY</span>
		You can either reduce the message length by <span style="font-weight:bold">{{spillover}}</span> 
		<span id="addAnotherScaffoldButton"> or <button onClick="app.newVisibleMessageField()" class="addMoreButton">add another visible tweet</button></span>.
