			This message could not be decrypted.  {{sender.screen_name}} may not have your current public key.  You can <input type=button value="Send it" onClick="app.initiateDirectMessages({{sender.id_str}},true)"/> now or first <a href="javascript:app.setView(app.SETTINGS_VIEW)">verify your key in the Settings</a> to be sure.
