			<div id="privateKeyManager">
				No private key.  (You either deleted it or the initial gen failed).  Go to the <a href="javascript:app.setView(app.SETTINGS_VIEW)">Settings</a> and regenerate your private key to activate direct messaging on Seecret.  
			</div>
