				<div id="publicKeyManager" class="container">
					Do you want to ask {{receiver_name}} to message you with Seecret?
					<input type=button value="YES" onClick="app.initiateDirectMessages({{receiver_id}})"/>.  
					<br/> {{receiver_name}} will receive an invite and a Seecret key that will allow you to send and receive encrypted messages.  Read more in the <a href="javascript:app.setView(app.FAQ_VIEW)">FAQ</a>
				</div>
