	<!-- Centered page -->
	<div id="page">
		<div class="header">
			<h1 id="headerTitle">
				<div></div>
			</h1>
			<div id="loginContainer" class="loginContainer"></div>
		</div>
		<div class="app" id="home">
			<div id="statusMessage" class="startingState" style="display: none">
				<div class="container">Please wait....</div>
			</div>
			<div id="timeline" class="startingState" style="display: none">
				<div class="container">
				<h2 class="timeLine">
					Timeline <span id="timelineName"></span>
				</h2>
					<form id="updateStatusForm">
						<h2>Tweet a Seecret</h2>
						<div class="messageContainer updateCell">
							<div>Seecret Message</div>
							<div>
								<textarea name="statusUpdate" id="textarea-statusUpdate"></textarea>
							</div>
						</div>
						<div class="messageContainer updateCell" id='allscaffoldstuff'>
							<div>Visible Tweet</div>
							<div>
								<div id="scaffoldingContainer">
									<div id="scaffoldsContainer">
										<div id="scaffoldingEntryContainer0">
											<span>Tweet 1:</span>&nbsp;<input type="text" value="" id="scaffold0" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="text-align: center;">
							<div id="scaffoldingWarningContainer"></div>
							<div id="scaffoldingStatus"></div>
						</div>
						<div id="submitButtonContainer" style="display: none">
							<button type="submit" name="updateStatusFormButton" value="Submit">Update Status</button>
						</div>
					</form>
				</div>
				<div class="container">
					Enter a username to view their timeline: <input style="width: 150px;" type="text" name="twitterUser" id="twitterUser" /> <input type="button"
						onclick="app.updateUserTimeline($('#twitterUser').val(),true)" value="View timeline" />
				</div>
				<P />
				Show only Seecrets: <input type="checkbox" id="showOnlySeecrets" checked="true"
					onChange="if(app.homeTimeline) {app.updateHomeTimeline(true);}else {app.updateUserTimeline(app.userTimelineId);}" />
				<div id="status-list" class="status-list"></div>
				<div id="updateHomeTimelineButtonContianer">
					<input type="button" value="Get older messages" id="getOlderTimelineButton" onClick="app.updateHomeTimeline()" class="button" />
				</div>
			</div>
			<div id="privateMessages" class="startingState" style="display: none">
				<h2 class="timeLine">
					Direct Messages
				</h2>
				<div style="margin:0 0 10px 0">
					<input type="button" id="newestDirectMessagesButton" value="Check for new" onClick="app.getNewestDirectMessages()" class="button" />
					<input type="button" id="getOlderMessagesButton" value="Get older messages" onClick="app.getOlderDirectMessages()" class="button" style="display:none" />				
				</div>
				<div id="directMessagesLegendContainer" >
					<i class="fa fa-lock" aria-hidden="true" style="font-size:1em;"></i> = encrypted, 
					<i class="fa fa-check-square" aria-hidden="true" style="font-size:1em;"></i> = signed<br />
					(Not sure what these mean? Read the <a href="https://www.seecret.net/faq.html" target="_new">FAQ</a>) <br /><br />
				</div>
				<div id="friendsContainer"></div>
				<div id="directMessages"></div>
			</div>
			<div id="settings" class="settings startingState" style="display: none">
				<h2>Settings</h2>
				Not sure what these options are for? Read the <a href="https://www.seecret.net/faq.html" target="_new">FAQ</a>.
				<div class="opt">
					<div class="showKeyContainer">
						<div class="optTitle">
							<span>My private key pair</span>
						</div>
						<div id="privateKeyCopyarea" style="display: none"></div>
					</div>
					<div class="control">
						<span onclick="javascript:app.showCopyPrivateKey(this)" class="button">Show</span>
					</div>
				</div>
				<div class="opt">
					<div class="showKeyContainer">
						<div class="optTitle">
							<span>Public keys from contacts</span>
						</div>
						<div id="publicKeysDisplayArea" style="display: none"></div>
					</div>
					<div class="control">
						<span onclick="javascript:app.showPublicKeys(this)" class="button">Show</span>
					</div>
				</div>
				<div class="opt">
					<div>
						<div class="optTitle">
							<span>Import a private key</span>
						</div>
						<div id="importForm" style="display: none;">
							<div>
								<span class="note"></span>
							</div>
							<div>
								<div class="formRow">
									<div>Paste key:</div>
									<div>
										<textarea id="importPrivateKeyText"></textarea>
									</div>
								</div>
								<div class="formRow">
									<div>Passphrase:</div>
									<div>
										<input type="text" id="importPrivateKeyPassphrase" />
									</div>
								</div>
							</div>
							<div>
								<input type="checkbox" id="importPrivateKeyPassphraseCache" /> Save your passphrase locally? <input type="button" value="Import" onClick="app.importPrivateKey()"
									class="button" />
							</div>
						</div>
					</div>
					<div class="control">
						<span onclick="javascript:app.showImportPrivateKey(this)" class="button">Show</span>
					</div>
				</div>
				<div class="opt">
					<div>
						<div class="optTitle">
							<span>Generate a new private key.</span>
						</div>
						<div id="generateForm" style="display: none">
							<div class="formRow">
								<div>Password:</div>
								<div>
									<input type="text" id="newPrivateKeyPassphrase2" /> <span id="newPrivateKeyPassphrase2Error"></span>
								</div>
							</div>
							<div>
								<input type="checkbox" id="newPrivateKeyPassphrase2Cache" /> Save your password locally? <input type="button" value="Generate new key"
									onClick="app.validateNewPrivateKey('newPrivateKeyPassphrase2')" class="button" />
							</div>
						</div>
					</div>
					<div class="control">
						<span onclick="javascript:app.showGeneratePrivateKey(this)" class="button">Show</span>
					</div>
				</div>
				<div class="opt">
					<div>
						<div class="optTitle">
							<span>Delete my private key.</span>
						</div>
						<div id="deleteKeyForm" style="display: none">
							<div>
								<div>All previous messages based on this private key will be unrecoverable. Forever.</div>
								<div>
									<input type="button" value="Delete the key" onClick="app.promptDeleteKey()" class="button" />
								</div>
							</div>
						</div>
					</div>
					<div class="control">
						<span onclick="app.toggleDeleteSettings(this)" class="button">Show</span>
					</div>
				</div>
			</div>
			<div id="publicKeys" class="startingState" style="display: none"></div>
			<div id="hashes" class="startingState" style="display: none">
				<div class="container" style="" id="hashesContent"></div>
			</div>
			<div id="about" class="startingState" style="font-size: 1.5em">
				<div class="container">
					<p />
						<br /> Seecret lets you hide invisible messages inside your tweets that are only visible to other users of Seecret.<p />
					Seecret also encrypts your direct messages to followers. <br />
					<br /> <a href="#" onclick="app.loginToTwitter(); return false;">Sign in with Twitter </a>to get started. <br />
					<br /> Read all about Seecret in the <a href="https://www.seecret.net/faq.html" target="_new">FAQ</a>.
					<p />
					<br /> If you are seeing this page at a url other than <a href="https://www.seecret.io">https://www.seecret.io</a>, it means you are using a Seecret mirror site. Read more about Seecret mirror sites and how to
					verify their validity at <a href="https://www.seecret.net/mirror.html" target="_new">https://www.seecret.net/mirror.html</a> <br />
					<br />
					<br />
					<br />
					<div style="font-size: .6em">
						<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_new"><img alt="Creative Commons License" style="border-width: 0"
							src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />
						<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type" target="_new">Seecret</span> by <a
							xmlns:cc="http://creativecommons.org/ns#" href="https://www.simpledynamics.net" target="_new" property="cc:attributionName" rel="cc:attributionURL">Simple Dynamics</a> is
						licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_new">Creative Commons Attribution-NonCommercial-ShareAlike 4.0
							International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://www.seecret.net" target="_new" rel="dct:source">http://www.seecret.net</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Left panel -->
	<div style="" id="panelControl" onclick="app.openClosePanel('open')">
		<i id="openTarget"  class="fa fa-bars"></i>
	</div>
	<div id="left-panel" class="panel">
		<div id="closeMenu" style="" href="#" onclick="app.openClosePanel('close');" data-icon="alert" class="closePanelControl">
			<li id="closeTarget" class="fa fa-close"></li>
		</div>
		<div class="menuLinks">
			<a id="timelineButton" style="display: block" href="#timeline" onclick="app.initTimeline();app.setView(app.TIMELINE_VIEW);" class="menuLink">Timeline</a> 
			<a id="privateMessagesButton" style="display: none" href="#privateMessages" onclick="app.initializeDirectMessagesView();" class="menuLink">Direct Messages</a> 
			<a id="settingsButton" style="display: block" href="#settings" onclick="app.setView(app.SETTINGS_VIEW);" class="menuLink">Settings</a>
			<a id="logoutButton" style="display: block" href="#" onclick="app.logoutFromTwitter();app.setView(app.FAQ_VIEW);" class="menuLink">Logout</a> 
			<a id="aboutButton" style="display: block" href="#about" onclick="app.setView(app.ABOUT_VIEW);" class="menuLink">About Seecret</a> 
			<a id="hashesButton" style="display: block" href="#hashes" onclick="app.setView(app.HASHES_VIEW);" class="menuLink">Verification</a>
			<P />
		</div>
	</div>
	<div id="overlay" style="display: none">
		<div></div>
	</div>
