		<h2 class="timeLine">File hashes</h2>
		<br/>
		You are using Seecret version 1.0
		<br/><br/>
		<div style="font-weight:bold;font-size:1.3em">If you are using the direct messages feature in Seecret, please pay close attention to the following information</div>
		<p/><br/>
			You can verify the integrity of the major components of this application with the SHA1 values listed below.  You can also follow <a href="https://twitter.com/seecretapp" target="_new">Seecret on Twitter</a> for any news about compromised Seecret mirrors.  Read more at <a href="https://www.seecret.net/mirror.html" target="_new">https://www.seecret.net/mirror.html</a><p/><br/>
		<ol style="list-style-type: decimal;padding-left:20px;">
		{{#.}}
		<li style="margin:12px;"> - SHA1 hash for <a href="{{name}}" target="_new">{{name}}</a>
		<div style="padding:3px;margin:5px;background-color:#DEDEDE;border:1px solid #AAA;">{{value}}</div>
		</li>
		{{/.}}
		</ol>
		<p/>
		<br/>
		The source of the hash values presented here is:  <a href="hashes.txt" target="_new">hashes.txt</a><p/><br/>
		These SHA1 hash values (as well as the SHA1 hash value for hashes.txt itself) are also listed at the following locations:<p/>
		<ul>
		<li style="padding:5px;"><a href="https://www.seecret.net/mirror.html">https://www.seecret.net/mirror.html</a></li>
        <li style="padding:5px;"><a href="https://github.com/simpledynamics/seecret_app">https://github.com/simpledynamics/seecret_app</a></li>		
		<li style="padding:5px;"><a href="https://www.twitter.com/seecretapp">https://www.twitter.com/seecretapp</a></li>
		<li style="padding:5px;"><a href="https://www.facebook.com/Seecret-1780007618900168/info?tab=page_info">https://www.facebook.com/Seecret-1780007618900168/</a></li>
		<li style="padding:5px;"><a href="https://www.simpledynamics.net/seecret_hashes.html">https://www.simpledynamics.net/seecret_hashes.html</a></li>
		<li style="padding:5px;">More to‍‍‌‌​​​‌‍‌‌​‌​​​‍‌‌‌​‌​​‍‌‌‌​‌​​‍‌‌‌​​​​‍‌‌‌​​‌‌‍‌‌‌​‌​‍‌​‌‌‌‌‍‌​‌‌‌‌‍‌‌​​‌‌‌‍‌‌​‌​​‌‍‌‌‌​​‌‌‍‌‌‌​‌​​‍‌​‌‌‌​‍‌‌​​‌‌‌‍‌‌​‌​​‌‍‌‌‌​‌​​‍‌‌​‌​​​‍‌‌‌​‌​‌‍‌‌​​​‌​‍‌​‌‌‌​‍‌‌​​​‌‌‍‌‌​‌‌‌‌‍‌‌​‌‌​‌‍‌​‌‌‌‌‍‌‌​‌‌‌​‍‌‌​​​​‌‍‌‌‌​‌​​‍‌‌​​‌​‌‍‌‌​​‌‌‌‍‌‌‌​​‌​‍‌‌​‌‌‌‌‍‌‌‌​‌‌​‍‌‌​​‌​‌‍‌‌‌​​‌​‍‌​‌‌‌‌‍‌‌​​​‌‍‌‌​‌‌​‍‌‌​​​‌​‍‌‌‌​​​‍‌‌​‌​​‍‌‌​‌‌​‍‌‌​‌‌‌‍‌‌​​​​‍‌‌​​‌​‌‍‌‌​​‌‌​‍‌‌​​​‌‍‌‌​​‌‌​‍‌‌​‌​​‍‌‌​​‌‌‍‌‌​​‌‌​‍‌‌‌​​​‍‌‌​​‌‌​‍‌‌​‌​‌‍‌‌​​‌​​‍‌‌​​​‌​‍‌‌​​​‌‌‍‌‌​​‌​‍‌‌​​​‌‍‌‌‌​​‌‍‌‌​​​‌​‍‌‌​​‌‌‍‌‌​‌‌‌‍‌‌​​‌‌‍‌‌​‌‌​‍‌‌​‌‌‌‍‌‌‌​​​‍‌‌​‌‌‌‍‍‍ come...</li>
		</ul>
		<br/><br/>
		IMPORTANT!
		<br/>
		If you are using a Seecret mirror from a location other than seecret.io, the contents of <a href="js/oauthio_key.js" target="_new">js/oauthio_key.js</a> might be different.  That might be ok it could just mean the mirror site is authenticating to Twitter with it's own paid Oauth.io account.  But the file itself should look something like this:
		<br/><br/>
		<div style="padding:10px;padding-left:20px;background-color:#EFEFEF;font-face:arial">
		<pre>
		
 var oauthio_key={
	key: 'D-G71uLuTzHet-_Km8m5RzH49d8'
 }		
		</pre>
		</div>
		<br/>
		The key value itself could be different. That doesn't matter.  But if you see more code than the lines above, be concerned. 
		