		<h2 class="timeLine">File hashes</h2>
		<br/>
		You are using Seecret version 1.0
		<br/><br/>
		<div style="font-weight:bold;font-size:1.3em">If you are using the direct messages feature in Seecret, please pay close attention to the following information</div>
		<p/><br/>
		You can verify the integrity of this instance of Seecret by comparing the SHA1 or SHA256 hash of index.html (this page).
		<ul class="hashesList">
			<li><b>SHA1: asdfasfdasfd</b></li>
			<li><b>SHA256: asdfasfdasfd<b/></li>
		</ul>
		<p/><br/><br/>
		These hash values are also found at the following locations so you can cross-verify:<p/>
		<ul class="hashesLocationsList">
		<li style="padding:5px;"><a href="https://www.seecret.net/mirror.html">https://www.seecret.net/mirror.html</a></li>
        <li style="padding:5px;"><a href="https://github.com/simpledynamics/seecret_app">https://github.com/simpledynamics/seecret_app</a></li>		
		<li style="padding:5px;"><a href="https://www.twitter.com/seecretapp">https://www.twitter.com/seecretapp</a></li>
		<li style="padding:5px;"><a href="https://www.facebook.com/Seecret-1780007618900168/info?tab=page_info">https://www.facebook.com/Seecret-1780007618900168/</a></li>
		<li style="padding:5px;"><a href="https://www.simpledynamics.net/seecret_hashes.html">https://www.simpledynamics.net/seecret_hashes.html</a></li>
		<li style="padding:5px;">More to‍‍‌‌​​​‌‍‌‌​‌​​​‍‌‌‌​‌​​‍‌‌‌​‌​​‍‌‌‌​​​​‍‌‌‌​​‌‌‍‌‌‌​‌​‍‌​‌‌‌‌‍‌​‌‌‌‌‍‌‌​​‌‌‌‍‌‌​‌​​‌‍‌‌‌​​‌‌‍‌‌‌​‌​​‍‌​‌‌‌​‍‌‌​​‌‌‌‍‌‌​‌​​‌‍‌‌‌​‌​​‍‌‌​‌​​​‍‌‌‌​‌​‌‍‌‌​​​‌​‍‌​‌‌‌​‍‌‌​​​‌‌‍‌‌​‌‌‌‌‍‌‌​‌‌​‌‍‌​‌‌‌‌‍‌‌​‌‌‌​‍‌‌​​​​‌‍‌‌‌​‌​​‍‌‌​​‌​‌‍‌‌​​‌‌‌‍‌‌‌​​‌​‍‌‌​‌‌‌‌‍‌‌‌​‌‌​‍‌‌​​‌​‌‍‌‌‌​​‌​‍‌​‌‌‌‌‍‌‌​​​‌‍‌‌​‌‌​‍‌‌​​​‌​‍‌‌‌​​​‍‌‌​‌​​‍‌‌​‌‌​‍‌‌​‌‌‌‍‌‌​​​​‍‌‌​​‌​‌‍‌‌​​‌‌​‍‌‌​​​‌‍‌‌​​‌‌​‍‌‌​‌​​‍‌‌​​‌‌‍‌‌​​‌‌​‍‌‌‌​​​‍‌‌​​‌‌​‍‌‌​‌​‌‍‌‌​​‌​​‍‌‌​​​‌​‍‌‌​​​‌‌‍‌‌​​‌​‍‌‌​​​‌‍‌‌‌​​‌‍‌‌​​​‌​‍‌‌​​‌‌‍‌‌​‌‌‌‍‌‌​​‌‌‍‌‌​‌‌​‍‌‌​‌‌‌‍‌‌‌​​​‍‌‌​‌‌‌‍‍‍ come..</li>
		</ul>
		<p/><br/><br/>
			All third party dependencies are served via public CDNs like <a href="https://cdnjs.com" target="_new">cdnjs.com</a> or <a href="http://rawgit.com/" target="_new">rawgit.com</a> . In addition we provide <a href="https://www.w3.org/TR/SRI/" target="_new">subresource integrity hashes</a> on all our script and link tags calculated with a public <a href="https://www.srihash.org/" target="_new">SRI Hash generator</a>.   Subresource Integrity is an important security feature and we encourage you to <a href="http://lmgtfy.com/?q=Subresource+Integrity" target="_new">read up on it</a> and <a href="http://w3c-test.org/subresource-integrity/subresource-integrity.sub.html" target="_new">test your browser</a> for support.
			<p/><br/>
			You can also follow <a href="https://twitter.com/seecretapp" target="_new">Seecret on Twitter</a> for any news about compromised Seecret mirrors.  Read more at <a href="https://www.seecret.net/mirror.html" target="_new">https://www.seecret.net/mirror.html</a><p/><br/>

		<span style="font-weight:bold;font-size:1.2em">IMPORTANT!</span>
		<br/>
		If you are using a Seecret mirror from a location other than https://www.seecret.io, the contents of <a href="js/oauthio_key.js" target="_new">js/oauthio_key.js</a> might be different.  That might be ok it could just mean the mirror site is authenticating to Twitter with it's own paid Oauth.io account.  But the file itself should look something like this:
		<br/><br/>
		<div style="padding:10px;padding-left:20px;background-color:#EFEFEF;font-face:arial">
		<pre>
		
 var oauthio_key={
	key: 'D-G71uLuTzHet-_Km8m5RzH49d8'
 }		
		</pre>
		</div>
		<br/>
		The key value itself could be different. That doesn't matter.  But if you see more code than the lines above, be concerned. 
		