				<div id="publicKeyManager" class="container">
					<input type=button value="Invite {{receiver_name}}" onClick="app.initiateDirectMessages({{receiver_id}})"/>.  
					<br/>You can send {{receiver_name}} messages once they accept your invite.
				</div>
   